html {
    height: 100%;
    width: 100%;
}

body {
    color: #222;
    background: radial-gradient(ellipse at center,  #C2E3D7 0%, #479C93 100%) no-repeat;
    font-family: 'Fjalla One', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.display-text {
    position: absolute;
    text-align: center;
    width: 90%;
    font-size: 3em;
    margin: 0;
    top: 50%;
    left: 5%;
    color: #FF4500;
    /*text-shadow: 1px 1px 0px #baeaff, -1px -1px 0px #406373;*/
    transform: translateY(-50%);
}

/*
Begin Jacob's changes

Changed colors of radial gradient
Changed color of font
Disabled shadow of font
Changed font to Fjalla (after referencing the Google API in the HTML doc

*/