#receiver {
    width: 90vh;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.element {
    display: inline-block;
    /*transform: rotate(90deg);*/
}

/*
Removed 90deg rotation. Windows can deal with vertical screens. Must reenable if we ever use this as a casting app instead of a hardwired connection.

*/