#form {
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
	margin-top: 10em;
}

#form label {
    font-size: 2em;
    display: block;
    margin-bottom: 0.5em;
}

#form input[type="text"] {
    font-size: 2em;
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    background: none;
    border: 1px solid #508ba5;
    padding: 0.5em;
    font-style: regular;
    outline: none;
    box-shadow: none;
}

#form input[type="submit"] {
    border: none;
    background: #508ba5;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5em;
    box-shadow: none;
    outline: none;
}

#form input[type="submit"]:active {
    background: #FF4500;
}

#message {
    background: #fff;
    padding: 0.5em;
    font-style: italic;
    border-left: 10px solid #5c9a5c;
    display: none;
}