#form {
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
	margin-top: 10em;
}

#message {
    background: #fff;
    padding: 0.5em;
    font-style: italic;
    border-left: 10px solid #5c9a5c;
    display: none;
}

#preview {
    top: 70%;
    transform: none;
}